MYSQL_ROOT_PASSWORD=root1234
MYSQL_DATABASE=mydb
MYSQL_USER=appuser
MYSQL_PASSWORD=1234
TZ=Asia/Seoul

SPRING_DATASOURCE_URL=jdbc:mysql://localhost:3307/mydb?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
SPRING_DATASOURCE_USERNAME=appuser
SPRING_DATASOURCE_PASSWORD=1234
SPRING_DATA_REDIS_HOST=localhost
SPRING_DATA_REDIS_PORT=6379
